<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedCitizens()" [disabled]="!selectedCitizens || !selectedCitizens.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="citizens" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" totalRecords="_totalRecords"
        [rowsPerPageOptions]="[5,10,15,20]" [(selection)]="selectedCitizens" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <p class="p-m-0 display-3 ml-3"><b>CITIZEN MANAGEMENT PLATFORM</b></p>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
            <!-- <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                placeholder="Choose fields to display"></p-multiSelect> -->
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <!-- col #1 -->
                <th pSortableColumn="fullName">
                    <i class="pr-2 fas fa-signature"></i>
                    Full name
                    <p-sortIcon field="fullName"></p-sortIcon>
                </th>
                <!-- col #2 -->
                <th>
                    <i class="pr-2 fas fa-user"></i>
                    Avatar
                </th>
                <!-- col #3 -->
                <th pSortableColumn="dateOfBirth">
                    <i class="pr-2 fas fa-birthday-cake"></i>
                    D.O.B
                    <p-sortIcon field="dateOfBirth"></p-sortIcon>
                </th>
                <!-- col #4 -->
                <th pSortableColumn="gender">
                    <i class="pr-2 fas fa-venus-mars"></i>
                    Gender
                    <p-sortIcon field="gender"></p-sortIcon>
                </th>
                <!-- col #5 -->
                <th pSortableColumn="identityNumber">
                    <i class="pr-2 fas fa-id-card"></i>
                    Identity number
                    <p-sortIcon field="identityNumber"></p-sortIcon>
                </th>
                <!-- col #6 -->
                <th pSortableColumn="email">
                    <i class="pr-2 fas fa-envelope"></i>
                    Email
                    <p-sortIcon field="email"></p-sortIcon>
                </th>
                <!-- col #7 -->
                <th pSortableColumn="address">
                    <i class="pr-2 fas fa-map-marker-alt"></i>
                    Address
                    <p-sortIcon field="address"></p-sortIcon>
                </th>
                <!-- col #8 -->
                <th pSortableColumn="phoneNumber">
                    <i class="pr-2 fas fa-phone"></i>
                    Phone number
                    <p-sortIcon field="phoneNumber"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-citizen let-columns="columns">
            <tr>
                <td>
                    <p-tableCheckbox [value]="citizen"></p-tableCheckbox>
                </td>
                <!-- col #1 -->
                <td>{{citizen.fullName}}</td>
                <!-- col #2 -->
                <td><img [src]="'assets/avatar/' + citizen.avatar" [alt]="citizen.fullName" width="100"
                        class="shadow-4" />
                </td>
                <!-- col #3 -->
                <td>{{citizen.dateOfBirth}}</td>
                <!-- col #4 -->
                <td>{{citizen.gender}}</td>
                <!-- col #5 -->
                <td>{{citizen.identityNumber}}</td>
                <!-- col #6 -->
                <td>{{citizen.email}}</td>
                <!-- col #7 -->
                <td>{{citizen.address.length > 15 ? citizen.address.substring(0,15).concat("...") : citizen.address}}
                </td>
                <!-- col #8 -->
                <td>{{citizen.phoneNumber}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editCitizen(citizen)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteCitizen(citizen)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{citizens ? citizens.length : 0 }} citizens.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="citizenDialog" [style]="{width: '450px'}" header="Citizen's information" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="fullName">Full name</label>
            <input type="text" placeholder="Nguyễn Hoàn Trung" pInputText id="fullName" [(ngModel)]="citizen.fullName"
                required autofocus />
            <small class="p-invalid" *ngIf="submitted && !citizen.fullName">Citizen's name is required!</small>
        </div>
        <div class="p-field">
            <label for="dateOfBirth">D.O.B</label>
            <input type="date" pInputText id="dateOfBirth" [(ngModel)]="citizen.dateOfBirth" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !citizen.dateOfBirth">Citizen's DOB is required!</small>
        </div>
        <div class="p-field">
            <label for="gender">Gender</label>
            <div class="p-formgrid p-grid d-flex justify-content-center">
                <div class="p-field-radiobutton pr-2">
                    <p-radioButton id="gender1" name="gender" value="Male" [(ngModel)]="citizen.gender"></p-radioButton>
                    <label for="gender1">Male</label>
                </div>
                <div class="p-field-radiobutton pr-2">
                    <p-radioButton id="gender2" name="gender" value="Female" [(ngModel)]="citizen.gender">
                    </p-radioButton>
                    <label for="gender2">Female</label>
                </div>
                <div class="p-field-radiobutton">
                    <p-radioButton id="gender3" name="gender" value="Other" [(ngModel)]="citizen.gender">
                    </p-radioButton>
                    <label for="gender3">Other</label>
                </div>
            </div>
            <input type="radio" pInputText id="DOB" [(ngModel)]="citizen.dateOfBirth" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !citizen.dateOfBirth">Citizen's DOB is required!</small>
        </div>

        <div class="p-field">
            <label for="identityNumber">Identity number</label>
            <input type="text" placeholder="001002003004" pInputText id="identityNumber"
                [(ngModel)]="citizen.identityNumber" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !citizen.identityNumber">Citizen's ID number is
                required!</small>
        </div>
        <div class="p-field">
            <label for="email">Email</label>
            <input type="email" placeholder="user@hotmail.com" pInputText id="email" [(ngModel)]="citizen.email"
                required autofocus />
            <small class="p-invalid" *ngIf="submitted && !citizen.email">Citizen's email is required!</small>
        </div>
        <div class="p-field">
            <label for="phoneNumber">Phone number</label>
            <input type="tel" placeholder="0987654321" pInputText id="phoneNumber" [(ngModel)]="citizen.phoneNumber"
                required autofocus />
            <small class="p-invalid" *ngIf="submitted && !citizen.phoneNumber">Citizen's phone number is
                required!</small>
        </div>
        <div class="p-field">
            <label for="address">Address</label>
            <input type="text" placeholder="99 Quang Trung st, Hadong, Hanoi" pInputText id="address"
                [(ngModel)]="citizen.address" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !citizen.address">Citizen's address is required!</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="createOrUpdateCitizen()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>